{% extends 'base.html' %}


{% block content %}


<div class="blog-header-container">
    <div class="blog-header">
      <div class="blog-article header-article">
        
         <div class="blog-big__title">About us</div> 
        
         <div class="blog-menu small-title date"></div>
      </div>
      <div class="blog-article">
       <div class="blog-detail">
        <span></span>
        <span></span>
       </div>
       <p>Welcome to our scam awareness website! We are dedicated to creating a safe online space where users can share their experiences, raise awareness about scams, and protect others from falling victim to fraudulent activities. Through our platform, users can sign up, log in, and contribute to the fight against scams by sharing their stories and insights</p>
       <a href="#">
       
        
        Swipe 
       </a>
      </div>
     </div>




     <div class="blog-header-container">
        <div class="blog-header">
          <div class="blog-article header-article">
            
                <div class="blog-big__title">Our Mission</div> 
            
           <div class="blog-menu small-title date"></div>
          </div>
          <div class="blog-article">
 
           <div class="blog-detail">
            <span></span>
            <span></span>
           </div>
           <p>Our mission is to empower individuals and communities to recognize, report, and prevent scams. We believe that by sharing personal experiences and knowledge, we can build a collective defense against deceptive practices. Through education, awareness, and collaboration, we strive to minimize the impact of scams on individuals, families, and businesses.</p>
           
          </div>
         </div>


         <div class="blog-header-container">
            <div class="blog-header">
              <div class="blog-article header-article">
                
                    <div class="blog-big__title">Join our Community</div> 
                
               <div class="blog-menu small-title date"></div>
              </div>
              <div class="blog-article">
            
               <div class="blog-detail">
                <span></span>
                <span></span>
               </div>
               <p>We invite you to become part of our scam awareness community. By signing up, sharing your stories, and engaging with other users, you are contributing to the fight against scams. Together, we can create a safer digital environment and protect vulnerable individuals from falling victim to fraudulent schemes.</p>
               
              </div>
             </div>
         </div>
         </div>
</div>


{% endblock content %}