
{% extends 'base.html' %}


{% block content %}


<div class="blog-header-container">
    <div class="blog-header">
      <div class="blog-article header-article">
        
            <div class="blog-big__title">1</div> 
        
       <div class="blog-menu small-title date"></div>
      </div>
      <div class="blog-article">
       <img src="https://www.shutterstock.com/image-vector/ponzi-scheme-vector-illustration-business-600w-1624207702.jpg" alt="Ponzi">
       <h2><span>Ponzi Schemes</span></h2>
       <div class="blog-detail">
        <span></span>
        <span></span>
       </div>
       <p>Ponzi schemes involve promising high returns on investments by using funds from new investors to pay off older ones. One notorious example is the Satyam Computer Services scam, where the company's founder manipulated financial statements to inflate the company's profits.</p>
       
      </div>
     </div>




     <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">2</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-vector/cyber-thief-hacker-wearing-man-600w-618026255.jpg" alt="fraud pic">
         <h2><span>Online Fraud</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p> With the rise of the internet and digital transactions, various online scams have emerged. These include phishing, where scammers impersonate legitimate entities to obtain personal information, and online shopping fraud, where people are tricked into paying for products or services that are never delivered.</p>
         
        </div>
       </div>




       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">3</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-vector/employment-scam-neon-light-icon-600w-1576002868.jpg" alt="">
         <h2><span>Job Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>Job scams involve fraudulent individuals or organizations promising lucrative employment opportunities in exchange for upfront fees or personal information. Victims often end up losing money and providing sensitive data that can be misused</p>
         
        </div>
       </div>






       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">4</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-vector/mobile-scam-alert-illustration-phone-260nw-2271916327.jpg" alt="">
         <h2><span>Lottery Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>Scammers contact unsuspecting individuals, claiming they have won a lottery or prize and ask for a processing fee or personal information to release the winnings. The victims are often left empty-handed after paying the fees or providing their details.</p>
         
        </div>
       </div>





       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">5</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-vector/internet-fraud-hacker-behind-laptop-260nw-1822520654.jpg" alt="">
         <h2><span>Bank-related Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>Scammers may impersonate bank officials and contact individuals, requesting sensitive banking information or OTP (One-Time Password) details. They use this information to gain unauthorized access to bank accounts and carry out fraudulent transactions.</p>
         
        </div>
       </div>


       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">6</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-illustration/real-estate-scam-city-depicting-260nw-1424931875.jpg" alt="">
         <h2><span>Real Estate Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>In the real estate sector, scams can involve fraudulent property sales, illegal land grabbing, or selling properties with false documents. Victims may end up losing their investments or face legal complications.</p>
         
        </div>
       </div>


       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">7</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/shutterstock/photos/1335564905/display_1500/stock-photo-robocalls-word-cloud-on-blue-background-1335564905.jpg" alt="">
         <h2><span>Mobile/Telecom Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>Scams related to mobile phones and telecom services include fake calls or messages claiming to offer prizes or promotions. Scammers trick people into providing personal information or subscribing to costly services unknowingly.</p>
         
        </div>
       </div>


       <div class="blog-header">
        <div class="blog-article header-article">
          
              <div class="blog-big__title">8</div> 
          
         <div class="blog-menu small-title date"></div>
        </div>
        <div class="blog-article">
         <img src="https://www.shutterstock.com/image-vector/ponzi-scheme-fraud-type-multi-260nw-1727702725.jpg" alt="">
         <h2><span>Multi-level Marketing (MLM) Scams</span></h2>
         <div class="blog-detail">
          <span></span>
          <span></span>
         </div>
         <p>MLM scams often operate as pyramid schemes, where participants are promised high returns by recruiting others into the scheme. These schemes are often unsustainable and rely on constant recruitment to sustain payouts.</p>
         
        </div>
       </div>
  </div>
    

{% endblock content %}